<?xml version="1.0" encoding="utf-8"?>
<Template xmlns="http://morfeo-project.org/2007/Template">
    <!-- Gadget Meta-Info -->
    <Catalog.ResourceDescription>
        <Vendor>CoNWeT</Vendor>
        <Name>Nomenclator</Name>
        <Version>0.1</Version>
        <Author>jmostazo</Author>
        <Mail>jmostazo@fi.upm.es</Mail>
        <Description>This widget allows users to make place names searches by means of a nomenclator service list. It supports MNE and EGN-based nomenclator services.</Description>
        <ImageURI>img/nomenclator.png</ImageURI>
        <iPhoneImageURI>img/nomenclator.png</iPhoneImageURI>
        <WikiURI>http://hercules.ls.fi.upm.es/public/conwet/ogf.html#getfeature-widget</WikiURI>
    </Catalog.ResourceDescription>

    <!-- EzWeb Gadgets Preferences -->
    <Platform.Preferences>
    </Platform.Preferences>

    <!-- EzWeb Gadget Persistent State -->
    <Platform.StateProperties>
        <Property name="services" type="text" label="Services"/>
    </Platform.StateProperties>

    <Platform.Wiring>
        <Event name="location_info_event" type="text" label="Location info" friendcode="location_info"/>
        <Event name="location_event"      type="text" label="Location"      friendcode="location"/>
        <Event name="output_text_event"   type="text" label="Output Text"   friendcode="keyword"/>
        <Event name="search_text_event"   type="text" label="Search Text"   friendcode="keyword"/>
        <Slot  name="search_text_slot"    type="text" label="Search Text"   friendcode="keyword"/>
        <Slot  name="wfs_service_slot"    type="text" label="WFS info"      friendcode="service_info"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Rendering width="6" height="28"/>

    <Platform.Context>
    </Platform.Context> 
</Template>
