<?xml version="1.0" encoding="utf-8"?>
<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">
    <Catalog.ResourceDescription>
        <Vendor>CoNWeT</Vendor>
        <Name>ogc-nomenclator-geowidget</Name>
        <DisplayName>Nomenclator</DisplayName>
        <Version>0.3</Version>
        <Author>jmostazo</Author>
        <Mail>jmostazo@fi.upm.es</Mail>
        <Description>This widget allows users to make place names searches by means of a nomenclator service list. It supports MNE and EGN-based nomenclator services.</Description>
        <ImageURI>img/nomenclator.png</ImageURI>
        <iPhoneImageURI>img/nomenclator.png</iPhoneImageURI>
        <WikiURI>http://hercules.ls.fi.upm.es/public/conwet/ogf.html#getfeature-widget</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.StateProperties>
        <Property name="services" type="text" label="Services"/>
    </Platform.StateProperties>

    <Platform.Wiring>
        <OutputEndpoint name="location_info_event" type="text" label="Location info" friendcode="location_info"/>
        <OutputEndpoint name="output_text_event"   type="text" label="Output Text"   friendcode="keyword"/>
        <OutputEndpoint name="search_text_event"   type="text" label="Search Text"   friendcode="keywords"/>
        <InputEndpoint  name="search_text_slot"    type="text" label="Search Text"   friendcode="keyword"/>
        <InputEndpoint  name="wfs_service_slot"    type="text" label="WFS info"      friendcode="service_info"/>
        <InputEndpoint  name="config_slot"    type="text" label="Config"   friendcode="config"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Rendering width="6" height="28"/>

</Template>
